body {
	/* text-align: justify; */
}

span {
	margin-top: 2px;
	margin-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 1px;
    padding-bottom: 1px;
    border: none;
    font-family: "Georgia", Georgia, serif;
    font-size: 16px;
    color: black;
}

.selected {
    border: 1px solid black;
}

.green {
    background-color: rgb(200, 255, 200);
}

.yellow {
    background-color: rgb(255, 255, 190);
}

.red {
    background-color: rgb(255, 220, 200);
}

.blue {
    background-color: rgb(190, 220, 255);
}

.white {
    background-color: white;
}