span {
    padding: 1px 2px;
    line-height: 1.6;
    font-family: "Georgia", Georgia, serif;
    font-size: 14pt;
    color: black;
}

.green {
    background-color: rgb(200, 255, 200);
}

.yellow {
    background-color: rgb(255, 255, 190);
}

.red {
    background-color: rgb(255, 220, 200);
}

.blue {
    background-color: rgb(190, 220, 255);
}

.white {
    background-color: white;
}
