span {
	margin-top: 2px;
	margin-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 1px;
    padding-bottom: 1px;
    border: none;
    font-family: "Georgia", Georgia, serif;
    font-size: 16px;
    color: black;
}